<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Default suite" verbose="1" parallel="classes" thread-count="1">
  <test name="RatingsSvcRunnerTest">
    <classes>
 <class name="com.wynd.vop.ratingssvc.service.runner.RatingsSvcRunner"/>
  </classes>
  </test>
</suite>
